* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Baloo Bhai', cursive;
  font-size: 40px;
  padding: 10px;
  display: flex;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* left side of page */
/* #left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

#found {
  color: #fdbf00;
}

#list-div {
  width: 20%;
  height: 300px;
  column-fill: auto;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-width: 20%;
  -webkit-column-width: 20%;
  -moz-column-width: 20%;
}

#found-words {
  color: #fdbf00;
  font-size: 25px;
}

ul {
  list-style: none;
}

/* center div with hex grid */
#center {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* text entry div */
#text-entry {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}

#delete {
  width: 20%;
  
  margin-top: 10%;
  margin-right: 20px;
  background-color: #fdbf00;
  border-radius: 20px;
  color: #282828;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

#delete-click {
  width: 20%;
  
  margin-top: 10%;
  margin-right: 20px;
  background-color: #ffd34c;
  border-radius: 20px;
  color: #282828;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

/* text-box */
#text-box {
  position: static;
  width: 400px;
  
  margin-top: 10%;
  background-color: #fdbf00;
  border-radius: 20px;
  color: #282828;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

#submit {
  width: 20%;
  
  margin-top: 10%;
  margin-left: 20px;
  background-color: #fdbf00;
  border-radius: 20px;
  color: #282828;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

#submit-click {
  width: 20%;
  
  margin-top: 10%;
  margin-left: 20px;
  background-color: #ffd34c;
  border-radius: 20px;
  color: #282828;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

/* start button */
#start {
  background-color: #fdbf00;
  width: 20%;
  margin-left: 39%;
  margin-right: 31%;
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  color: #282828;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  font-size: 30px;
}

#start-click {
  background-color: #ffd34c;
  width: 20%;
  margin-left: 39%;
  margin-right: 31%;
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  color: #282828;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  font-size: 30px;
}

#shuffle {
  background-color: #fdbf00;
  width: 20%;
  margin-left: 39%;
  margin-right: 31%;
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  color: #282828;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  font-size: 30px;
}

#shuffle-click {
  background-color: #ffd34c;
  width: 20%;
  margin-left: 39%;
  margin-right: 31%;
  margin-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  color: #282828;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  font-size: 30px;
}


/* right side of page */
#right {
  width: 20%;
  display: flex;
  flex-direction: column;
}

#score-header {
  color: #fdbf00;
}

#score {
  color: #fdbf00;
  font-size: 25px;
}

#progress {
  color: #fdbf00;
  font-size: 25px;
}

/* grid */
#grid {
  position: relative;
  width: 60%;
  height: 75%;
  margin: 0 auto;
  padding: 0;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* parallelogram li */
#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
}

/* children visible */
#grid li * {
  visibility: visible;
}

/* add left and right margin to middle hexes */
#grid li:nth-child(3n + 2) {
  margin: 0 1%;
}

/* stagger every other row */
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* even out staggered row margins */
#grid li:nth-child(6n+4) { 
  margin-left: 0.5%;
}

/* hexagon li child */
#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: #282828;
  text-align: center;
  line-height: 4.5em;
}

#grid li .clicked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd34c;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: #282828;
  text-align: center;
  line-height: 4.5em;
}

/* hide first of row 1 and 3 */
#grid li #hidden1 {
  visibility: hidden;
}

#grid li #hidden2 {
  visibility: hidden;
}