* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

html, body {
  background: #fff;
  font-family: 'Baloo Bhai';
  font-size: 1em;
  width: auto;
  height: 100vh;
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
}

#new-game {
  display: flex;
}

/* start button */
#start {
  font-size: 1.1em;
  padding-top: 4.5%;
  padding-bottom:5%;
  margin: 0 10%;
  width: 100%;
  border-radius: 50vh;
  border: solid 1px;
  color: #282828;
  text-align: center;
}

#start-click {
  font-size: 1.1em;
  padding-top: 4.5%;
  padding-bottom:5%;
  margin: 0 10%;
  width: 100%;
  border-radius: 50vh;
  border: solid 1px;
  color: #282828;
  text-align: center;
}

/* top div */
#top {
  display: flex;
  padding: 0 2%;
  width: 31%;
  height: 92vh;
  margin-right: 5%;
  flex-direction: column;
  justify-content: space-between;
}

#list-div {
  display: flex;
  width: 100%;
  height: 55vh;
  border: solid 1px;
  border-radius: 5px;
  font-size: 1.1em;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}


ul {
  list-style: none;
}

ul#found-words {
  overflow: hidden;
  width: 76%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul#found-words li {
  margin: 3%;
  width: 30%;
}

img#expand {
  visibility: hidden;
}

/* stats box */
#stats-div {
  width: 100%;
  height: 10vh;
  margin-bottom: 2vh;
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  font-size: 1.1em;
}

#score {
  width: 50%;
  text-align: center;
  padding: 4% 0;
}

#progress {
  width: 50%;
  text-align: center;
  padding: 4% 0;
}

/* text entry div */
#text-entry {
  display: flex;
  justify-content: center;
  margin-bottom:4vh;
  width: 43%;
  padding: 0 6%;
}

/* text-box */
#text-box {
  width: 39vw;
  height: 10vh;
  padding: 1vh 0;
  overflow: auto;
  background-color: #fdbf00;
  border-radius: 50px;
  color: #282828;
  text-align: center;
  font-size: 1.5em;
}

/* center div with hex grid */
#center {
  width: 60vw;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* grid */
#grid {
  position: relative;
  width: 37vw;
  height: 75%;
  margin-bottom: 8vh;
  flex: 1;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* parallelogram li */
#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
}

/* children visible */
#grid li * {
  visibility: visible;
}

/* add left and right margin to middle hexes */
#grid li:nth-child(3n + 2) {
  margin: 0 1%;
}

/* stagger every other row */
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* even out staggered row margins */
#grid li:nth-child(6n+4) { 
  margin-left: 0.5%;
}

/* hexagon li child */
#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: #282828;
  text-align: center;
  padding: 43% 0;
  font-size: 2em;
}

#grid li .clicked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd34c;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: #282828;
  text-align: center;
  padding: 43% 0;
  font-size: 2em;
}

/* hide first of row 1 and 3 */
#grid li #hidden1 {
  visibility: hidden;
}

#grid li #hidden2 {
  visibility: hidden;
}

/* button styling */
.btn {
  font-size: 1.1em;
  padding-top: 2%;
  padding-bottom:6%;
  width: 15%;
  height: 15%;
  border-radius: 50vh;
  background-color: #fdbf00;
  color: #282828;
  text-align: center;
}

.btn-click {
  font-size: 1.1em;
  padding-top: 2%;
  padding-bottom:6%;
  width: 15%;
  height: 15%;
  border-radius: 50vh;
  background-color: #ffd34c;
  color: #282828;
  text-align: center;
}

#start-shuffle {
  display: flex;
  justify-content: space-around;
  padding-right: 30%;
  margin-bottom: 1vh;
  flex: 2;
  height: 5%;
}

#delete-click {
  background-color: #ffd34c;
}

#shuffle {
  background-color: #fdbf00;
  color: #282828;
  text-align: center;
}

#shuffle-click {
  background-color: #ffd34c;
}

#submit-click {
  background-color: #ffd34c;
}

@media screen and (max-width: 768px) {
  html, body {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
  }

  #new-game {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  #start {
    font-size: 1em;
    margin: 0;
  }

  #start-click {
    font-size: 1em;
  }

  #top {
    justify-content: space-around;
    width: auto;
    height: auto;
  }

  #list-div {
    height: 10vh;
    font-size: inherit;
  }

  ul#found-words {
    width: 82%;
  }

  ul#found-words.expand {
    height: 79vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px;
    position: absolute;
    z-index: 1;
  }

  img#expand {
    height: 7%;
    width: auto;
    position: fixed;
    right: 1.4em;
    visibility: visible;
  }

  #stats-div {
    height: 10vh;
    margin-bottom: 3vh;
    font-size: inherit;
  }

  #text-entry {
    width: auto;
  }

  #text-box {
    width: 72vw;
    height: 5vh;
    font-size: 1.2em;
  }

  #center {
    width: 100vw;
    height: 50vh;
  }

  #grid {
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    padding: 0 3.5rem 0 0;
  }

  #grid li .hexagon {
    padding: 34% 0;
  }

  .btn {
    font-size: .7em;
    padding-top: 5%;
    padding-bottom:5%;
    width: 14%;
    height: auto;
  }

  .btn-click {
    font-size: .7em;
    padding-top: 5%;
    padding-bottom:5%;
    width: 14%;
    height: auto;
  }

  #start-shuffle {
    justify-content: space-evenly;
    height: auto;
    padding-right: 1rem;
    flex: 0;
  }


}