* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  background: #fff;
  font-family: 'Baloo Bhai';
  font-size: 1em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#new-game {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

/* start button */
#start {
  font-size: inherit;
  padding-top: 4.5%;
  padding-bottom:5%;
  width: 100%;
  border-radius: 50px;
  border: solid 1px;
  /* background-color: #fdbf00; */
  color: #282828;
  text-align: center;
}

#start-click {
  font-size: 1em;
  padding-top: 4.5%;
  padding-bottom:5%;
  width: 100%;
  border-radius: 50px;
  border: solid 1px;
  /* background-color: #ffd34c; */
  color: #282828;
  text-align: center;
}

/* left side of page */
#left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* #found {
  color: #fdbf00;
} */

#list-div {
  display: flex;
  font-size: inherit;
  width: 100%;
  height: 7vh;
  border: solid 1px;
  border-radius: 5px;
}



ul {
  list-style: none;
}

ul#found-words {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

ul#found-words li {
  margin: 5px;
}

img#expand {
  height: 48px;
  width: 48px;
}

/* right side of page */
#right {
  width: 100%;
  height: 7vh;
  margin-bottom: 5vh;
  border: solid 1px;
  border-radius: 5px;
  display: flex;
}

/* #score-header {
  color: #fdbf00;
} */

#score {
  width: 50%;
  font-size: .7em;
  text-align: center;
  padding: 4% 0;
}

#progress {
  width: 50%;
  font-size: .7em;
  text-align: center;
  padding: 4% 0;
}

/* text entry div */
#text-entry {
  display: flex;
  justify-content: center;
  margin-bottom:4vh;
}

/* text-box */
#text-box {
  width: 72vw;
  height: 5vh;
  padding: 1vh 0;
  overflow: auto;
  background-color: #fdbf00;
  border-radius: 50px;
  color: #282828;
  text-align: center;
  font-size: 18px;
}



/* center div with hex grid */
#center {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* grid */
#grid {
  position: relative;
  width: 100vw;
  height: 75%;
  margin: 0 auto;
  margin-bottom: 6vh;
  padding: 0 13vw 0 2vw;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* parallelogram li */
#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
}

/* children visible */
#grid li * {
  visibility: visible;
}

/* add left and right margin to middle hexes */
#grid li:nth-child(3n + 2) {
  margin: 0 1%;
}

/* stagger every other row */
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* even out staggered row margins */
#grid li:nth-child(6n+4) { 
  margin-left: 0.5%;
}

/* hexagon li child */
#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: #282828;
  text-align: center;
  padding: 37% 0;
  font-size: 28px;
}

#grid li .clicked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd34c;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  color: #282828;
  text-align: center;
  padding: 37% 0;
  font-size: 28px;
}

/* hide first of row 1 and 3 */
#grid li #hidden1 {
  visibility: hidden;
}

#grid li #hidden2 {
  visibility: hidden;
}

/* button styling */
.btn {
  font-size: 11px;
  padding-top: 4.5%;
  padding-bottom:5%;
  width: 48px;
  height:48px;
  border-radius: 50px;
  background-color: #fdbf00;
  color: #282828;
  text-align: center;
}

.btn-click {
  font-size: 11px;
  padding-top: 4.5%;
  padding-bottom:5%;
  width: 48px;
  height:48px;
  border-radius: 50px;
  background-color: #ffd34c;
  color: #282828;
  text-align: center;
}

#start-shuffle {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vh;
}

/* #delete {
  margin-right: 5vw;
} */

#delete-click {
  background-color: #ffd34c;
}

#shuffle {
  background-color: #fdbf00;
  color: #282828;
  text-align: center;
}

#shuffle-click {
  background-color: #ffd34c;
}

/* #submit {
  margin-left: 5vw;
} */

#submit-click {
  background-color: #ffd34c;
}