@media screen and (max-width: 767px) {
  html, body {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
  }

  #new-game {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  #start {
    font-size: 1em;
    margin: 0;
  }

  #start-click {
    font-size: 1em;
  }

  #top {
    justify-content: space-around;
    width: auto;
    height: auto;
  }

  #list-div {
    height: 10vh;
    font-size: inherit;
  }

  ul#found-words {
    width: 82%;
  }

  ul#found-words.expand {
    height: 79vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px;
    position: absolute;
    z-index: 1;
  }

  img#expand {
    height: 7%;
    width: auto;
    position: fixed;
    right: 1.4em;
    visibility: visible;
  }

  #stats-div {
    height: 10vh;
    margin-bottom: 3vh;
    font-size: inherit;
  }

  #text-entry {
    width: auto;
  }

  #text-box {
    width: 72vw;
    height: 5vh;
    font-size: 1.2em;
  }

  #center {
    width: 100vw;
    height: 50vh;
  }

  #grid {
    width: 100vw;
    margin: 0 auto;
    margin-bottom: 5vh;
    padding: 0 3.5rem 0 0;
  }

  #grid li .hexagon {
    padding: 34% 0;
  }

  .btn {
    font-size: .7em;
    padding-top: 5%;
    padding-bottom:5%;
    width: 14%;
    height: auto;
  }

  .btn-click {
    font-size: .7em;
    padding-top: 5%;
    padding-bottom:5%;
    width: 14%;
    height: auto;
  }

  #start-shuffle {
    justify-content: space-evenly;
    height: auto;
    padding-right: 1rem;
    flex: 0;
  }
}